language: c
dist: trusty
sudo: required

env:
  global:

cache:
  apt: true
  directories:
    # cache smt solvers to speed up build
    ./smt_solvers

compiler:
  - gcc

before_install:
  - ./install.sh
  - source setenv.sh

install:

script:
  # "set -e" means "die at first error" - seems like a good idea!
  - set -e
  - make CGRA_SIZE=4x4 SILENT=FALSE
  - make CGRA_SIZE=8x8 SILENT=TRUE build/pointwise.correct.txt
  - make CGRA_SIZE=8x8 SILENT=TRUE DELAY=1,0  build/conv_1_2.correct.txt
  - make CGRA_SIZE=8x8 SILENT=TRUE DELAY=10,0 build/conv_2_1.correct.txt
  - make CGRA_SIZE=8x8 SILENT=TRUE DELAY=20,0 build/conv_3_1.correct.txt
  - make CGRA_SIZE=8x8 SILENT=TRUE DELAY=130,0 build/conv_bw.correct.txt

  # [SR] I'm putting this here so I can see the test results without an extra mouseclick :)
  - if `test -e build/test_summary.txt`; then cat build/test_summary.txt; fi

after_script:
  # The log file is getting very long and unwieldy.
  # What if we make a summary of the test results, to print out at the end?
  # Also see https://docs.travis-ci.com/user/customizing-the-build/
  - if `test -e build/test_summary.txt`; then cat build/test_summary.txt; fi

notifications:
  slack:
    secure: Ke4bYFrRafdXGNvtYkxNXroRQzxReDISBpeOZIfptyVG2mOFhLZFwNGhmmqFR1qyJKkqPfWyDE59XWJFzdPQbCtx+GEOgffN6CPN2Jyf3MN+CnAjNEuUSDYFk+zKm8ccjSiaO+vTwyxeaxTpKtky0bJmF+8l7+1z794DYDe/bA/THjYmWKeLWrzXhNoIe3+Nl6HBgkWlPH9+m6mOBXStpxuii/JjShmSh73bEFOR5kOxv/JzTzTdBXb84jJ4bYSPmEdsEt4k/lkFgw6T1hb5KlEj09zNvx+L7ji9A+0+j2T75p/WSFjknA9bAY460DO1hqm2nfKhuXGkrnn1VR1ND9PwHCCXmDVYyhrUW+2o+sSLm1+xGrrcq7minG63jB/fLanM1BNgFcDcubHvuxrZH7R/TxljptCiIp+BRpQM1lwPohsJNghEW5O0IjNMHNt0TCNd1mgimdKMJlq8GH897aR/R4UJ8jVSs9Z1WkZM+upMxqg/u1DffEgIxbrtkx2TzFbAucAFEQrrLvPfBDRBD1n35dGwx70r+Ip6olO4TN5w/Z6kSW36vb72410vXfcM64r+GZ7Tmr/0QIPAZHx9/OcH8m6wzOT8i6M0DYofb9oX54pa+FpOUp2zUHNZtb9tP3CLTU4/9kB5/2MH/y9i4uGaffttA41l4aT/Aw7R56A=

addons:
  apt:
    sources:
#      - ubuntu-toolchain-r-test
    packages:
#      - g++-4.9
