language: c
dist: trusty

cache: apt

compiler:
  - gcc
  
before_install:
  # To bypass some of the slower parts of the script for debugging, you can set e.g. CGRA_QUICKTEST
  # Remember to turn it off (comment-out) again when you're done debugging!
  # - CGRA_QUICKTEST=true
  - if [[ -v CGRA_QUICKTEST ]]; then BYPASS_COREIR=true; fi
  - if [[ -v CGRA_QUICKTEST ]]; then BYPASS_MAPPER=true; fi
  
  - pip install virtualenv
  - virtualenv -p /usr/bin/python3 CGRAFlowPy3Env
  - source CGRAFlowPy3Env/bin/activate

  - git clone https://github.com/jeffsetter/Halide_CoreIR.git
  - export CXX=${CXX_}
  - export CC=${CC_}
  - export LLVM_CONFIG=${TRAVIS_BUILD_DIR}/llvm/bin/llvm-config
  - export CLANG=${TRAVIS_BUILD_DIR}/llvm/bin/clang
  - export CORECONFIG="g++-4.9"
  - export COREIR_DIR=${TRAVIS_BUILD_DIR}/coreir

  - echo "INSTALL RIGEL"
  - git clone https://github.com/jameshegarty/rigel.git
  - export PKG_CONFIG_PATH=${TRAVIS_BUILD_DIR}/rigel/platform/verilator
  - pkg-config --cflags verilator
  - pkg-config --variable=includedir verilator

  #- wget https://github.com/zdevito/terra/releases/download/release-2016-02-26/terra-Linux-x86_64-2fa8d0a.zip
  # - unzip terra-Linux-x86_64-2fa8d0a.zip

  # Hope this isn't too ugly for you; it solves problems for me (steveri);
  # also I'm sure there's a better way to do this but I didn't find it...
  - if [[ ! -v BYPASS_COREIR ]]; then
        git clone https://github.com/rdaly525/coreir.git;
        export CORECONFIG="g++-4.9";
        make -C coreir/src;
        make -C coreir/src ../build/coreir.so;
        make -C coreir/tests;
        pip install pytest;
        cd coreir;
        pip install -e bindings/python;
        cd ..;
    fi

  - if [[ ! -v BYPASS_MAPPER ]]; then
        git clone https://github.com/StanfordAHA/CGRAMapper.git;
        cd CGRAMapper/mapper;
        make;
        cd ../../;
    fi

  - git clone https://github.com/StanfordAHA/CGRAGenerator.git

  - git clone https://github.com/cdonovick/smt-pnr

install:
  -  pwd
  
  # Halide
  - wget http://llvm.org/releases/${LLVM_VERSION}/clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-14.04.tar.xz
  - tar xvf clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-14.04.tar.xz
  - mv clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-14.04 ${TRAVIS_BUILD_DIR}/llvm

  # pnr
    # Install monosat from Lenny's binary (ping him to rebuild it if newer features are needed)
  - wget http://web.stanford.edu/~lenny/files/monosat_binary_03182017.tar.gz
  - tar -xvf monosat_binary_03182017.tar.gz
  - export PATH=$PATH:$PWD/monosat_binary/bin
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/monosat_binary/lib
  - pip install -e monosat_binary/python
    # Install z3 from release binary
  - wget https://github.com/Z3Prover/z3/releases/download/z3-4.5.0/z3-4.5.0-x64-ubuntu-14.04.zip
  - unzip z3-4.5.0-x64-ubuntu-14.04.zip
  - export PATH=$PATH:$PWD/z3-4.5.0-x64-ubuntu-14.04/bin/
  - export PYTHONPATH=$PYTHONPATH:$PWD/z3-4.5.0-x64-ubuntu-14.04/bin/python/
  - sudo ln -s $PWD/z3-4.5.0-x64-ubuntu-14.04/bin/libz3.so /usr/lib/libz3.so
  - pip install pygraphviz

script:
  - export RUN_TESTS=false

  # halide
  # I think this actually builds halide too?
  - echo "Run Halide Tests"
  - cd Halide_CoreIR
  - test/scripts/build_travis.sh
  - cd ..

  - echo "Halide FLOW"
  - cd Halide_CoreIR
  - make -C apps/coreir_examples/pointwise/ out.png
  - cp apps/coreir_examples/pointwise/design_top.json ../build
  - cp apps/images/gray.png ../build/input.png
  - cp apps/coreir_examples/pointwise/out.png ../build/halide_out.png
  - cd ..
  - ls -la build
  - cat build/design_top.json
  - stream build/input.png build/input.raw
  - stream build/halide_out.png build/halide_out.raw
  - xxd build/input.png
#  - xxd build/input.raw
#  - xxd build/halide_out.png
#  - xxd build/halide_out.raw

  - echo "MAPPER"
  - ./CGRAMapper/build/main build/design_top.json build/mapped.json
  - ls -la build
  - cat build/mapped.json

   # coreir
  - cd coreir/tests
  - ./run
  - pytest  # Test python bindings
  - cd ../..
  
    # rigel
  - cd rigel/examples
  - make out/pointwise_wide_handshake.verilator.bmp
  - cd ../../
  
  # Is this still set?
  # - if [[ -v BYPASS_COREIR ]]; then echo BYPASS_COREIR set; else echo BYPASS_COREIR unset; fi

  # CGRA setup
  - echo "CGRAGenerator setup" - `date`
  - if [ "${TRAVIS_BUILD_DIR}" == "/home/travis/build/StanfordAHA/CGRAFlow" ];
    then
        cgroot=${TRAVIS_BUILD_DIR}/CGRAGenerator;
        cgbuild=${TRAVIS_BUILD_DIR}/build;
    else
        cgroot=${TRAVIS_BUILD_DIR};
        cgbuild=$cgroot/build;
        mkdir $cgbuild;
    fi

  # CGRA generate
  - echo "CGRA generate (generates CGRA + connection matrix for pnr)" - `date`
  - pushd $cgroot; ./travis-test.csh; popd

  # pnr
  - cd smt-pnr/mothball/new
  - ./demo.sh
  - cd ../../../
  
  # Bitstream build
  - echo "Build bitstream for programming CGRA" - `date`
  - perl
        $cgroot/bitstream/bitstream_gen.pl
        $cgroot/bitstream/example/connectivity_4x4.xml
        $cgbuild/config
  - diff
        $cgroot/bitstream/example/config.dat
        $cgbuild/config.dat
        && echo PASS || echo FAIL

  # CGRA program and run (uses output of pnr)
  - echo "CGRA program and run (uses output of pnr)" - `date`
  - pushd $cgroot/verilator/generator_z_tb
  -   ./run.csh top_tb.cpp -config ../../hardware/generator_z/top_tb/tile_config.dat | tail -n 100
  - popd

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      # rigel
      - verilator
      - luajit

      # coreir
      - build-essential
      - clang

      # halide
      - g++-4.9
      - libedit-dev
      - libpng-dev

      # CGRAGEN
      - csh

      # pnr
      - libgmp3-dev
      - git
      - cmake
      - zlib1g
      - zlib1g-dev
      - graphviz-dev
      - python3

      # convert png to raw
      - imagemagick
env:
  # halide
  - LLVM_VERSION=3.7.1 BUILD_SYSTEM=MAKE CXX_=g++-4.9 CC_=gcc-4.9
